body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0c98e !important;
  /* background: rgba(0, 0, 0, 0.443) !important; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Setting the animation */
@keyframes manMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.25%);
    transform: rotate(1deg);
  }
}
@keyframes oldmanMovement {
  from {
    transform: translateX(0.5%);
  }
  to {
    transform: translateX(0);
    transform: rotate(1.2deg);
  }
}

@keyframes textShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes textScaleAndShow {
  from {
    opacity: 1;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes plantMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
    transform: translateY(10%);
    transform: rotateY(19deg);
  }
}

@keyframes caneScale {
  from {
    transform: scaleY(1);
    transform-origin: top;
  }
  to {
    transform: scaleY(1.25);
  }
}
@keyframes glide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
    transform: translateY(40%);
    transform: rotateY(19deg);
  }
}
@keyframes subtleMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
    /* transform: translateY(10%); */
    transform: rotateY(6deg);
  }
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#owner {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running manMovement;
}
#old-man {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running oldmanMovement;
}
/* #sugarcane {
  animation: 1.2s ease-in-out infinite alternate plantMovement;
} */
/* 

*/
#sugarcane {
  transition: all 6s;
  transform-origin: bottom;
  z-index: 1000;
}
#sugarcane:hover {
  transition: all 3s;
  transform: scaleY(1.4) translateY(240px);
}
#secondaryText {
  animation: 3s linear infinite alternate textShow;
}
#tertiaryText {
  animation: 7s linear infinite alternate textShow;
}

#haystack-3 {
  transform-origin: top right;
  animation: 1.2s ease-in-out infinite alternate plantMovement;
}

#owner-cane {
  animation: 1.2s ease-in-out infinite alternate subtleMovement;
}
#green-terrain {
  animation: 1.2s ease-in-out infinite alternate 1s subtleMovement;
}
#peacock:hover {
  opacity: 0;
  transition: opacity 0.4s ease;
}
#old-man-layer {
  display: none;
}
@keyframes handMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15%);
    transform: translateY(40px);
    transform: rotate(-10deg);
  }
}
@keyframes headMovement {
  from {
    transform: translateX(0);
  }
  to {
    /* transform: translateX(-15%); */
    /* transform: translateY(40px); */
    transform: rotate(-2deg);
  }
}
/* #owner-head{
  transform-origin: top left;
  animation: 3s ease-in-out infinite alternate headMovement;
} */
/* #owner-hand,#owner-glass{
  transform-origin: bottom left;
  animation: 3s ease-in-out infinite alternate handMovement;
} */
.btn-three {
  color: white;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 1;
  /* background-color: rgba(224, 201, 142, 0.317); */
  background-color: rgba(255, 242, 171, 0.123);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three:active {
  border: transparent;
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px dashed #100d07;
  border-radius: 6px;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .play :hover {
  box-shadow: 0 0 0 3px #e0c98e;
  border-radius: 12px;
  /* padding: inherit; */
/* padding: 0.2em; */
/* } */
/* Page  Transition*/
.container {
  position: relative;
}

/* .page {
  position: absolute;
  left: 15px;
  right: 15px;
} */

@keyframes animate-pop {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px);
  }
}
.page-enter {
  opacity: 0;
  transform: scale(1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms transform 500ms;
  /* Slide animation */
  /* animation: 1s ease-out animate-pop; */
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 300ms;
}
.scroll-container {
  max-height: 70vh;
}
.card-body {
  overflow: hidden;
  color: #715a28 !important;
  font-style: oblique;
}
/* Scroll Rod */
.scroll-container svg:first-child {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: -20px;
}
.scroll-container svg:last-child {
  width: 100%;
  position: absolute;
  z-index: 100;
  bottom: -20px;
}
.quill svg {
  height: 15%;
}
#texture,
#liquid,
#liquor-gobule {
  display: none;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  background-color: #100d07b0 !important;
}
#dots {
  display: none;
}

@keyframes shake {
  0% {
    transform: translateY(1px) rotate(0deg);
  }
  10% {
    transform: translateY(-2px) rotate(-1deg);
  }
  20% {
    transform: translateY(100px) rotate(1deg);
  }
  30% {
    transform: translateY(2px) rotate(0deg);
  }
  40% {
    transform: translateY(-1px) rotate(1deg);
  }
  50% {
    transform: translateY(2px) rotate(-1deg);
  }
  60% {
    transform: translateY(1px) rotate(0deg);
  }
  70% {
    transform: translateY(1px) rotate(-1deg);
  }
  80% {
    transform: translateY(-1px) rotate(1deg);
  }
  90% {
    transform: translateY(2px) rotate(0deg);
  }
  100% {
    transform: translateY(-2px) rotate(-1deg);
  }
}
/* #pots:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
} */

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
canvas {
  pointer-events: none;
}
