body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5e9ca !important;
  /* background: rgba(0, 0, 0, 0.443) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Setting the animation */
/* @keyframes manMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.25%);
    transform: rotate(1deg);
  }
}
@keyframes oldmanMovement {
  from {
    transform: translateX(0.5%);
  }
  to {
    transform: translateX(0);
    transform: rotate(1.2deg);
  }
} */

@keyframes textShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes textScaleAndShow {
  from {
    opacity: 1;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes subtleMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
    /* transform: translateY(10%); */
    transform: rotateY(6deg);
  }
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #owner {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running manMovement;
}
#old-man {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running oldmanMovement;
} */

#secondaryText {
  animation: 3s linear infinite alternate textShow;
}
#tertiaryText {
  animation: 7s linear infinite alternate textShow;
}

#owner-cane {
  animation: 1.2s ease-in-out infinite alternate subtleMovement;
}
#green-terrain {
  animation: 1.2s ease-in-out infinite alternate 1s subtleMovement;
}
/* #peacock:hover {
  opacity: 0;
  transition: opacity 0.4s ease;
} */
#old-man-layer {
  display: none;
}

.btn-three {
  color: white;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 1;
  /* background-color: rgba(224, 201, 142, 0.317); */
  background-color: rgba(255, 242, 171, 0.123);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three:active {
  border: transparent;
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px dashed #100d07;
  border-radius: 6px;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .play :hover {
  box-shadow: 0 0 0 3px #e0c98e;
  border-radius: 12px;
  /* padding: inherit; */
/* padding: 0.2em; */
/* } */
/* Page  Transition*/
.container {
  position: relative;
}

/* .page {
  position: absolute;
  left: 15px;
  right: 15px;
} */

/* @keyframes animate-pop {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px);
  }
} */
.page-enter {
  opacity: 0;
  transform: scale(1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms transform 500ms;
  /* Slide animation */
  /* animation: 1s ease-out animate-pop; */
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 300ms;
}
/* .scroll-container {
  max-height: 70vh;
} */
.card-body {
  overflow: auto;
  color: #715a28 !important;
  font-style: oblique;
  padding: 30px 16px !important ;
  margin-top: 34px;
}
.card-body::-webkit-scrollbar {
  width: 0.1em;
}

.card-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #85692e;
  outline: 1px solid #85692e;
}
.card-body::-webkit-scrollbar-thumb {
  height: 50px;
  background-clip: content-box;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 2px;
  background-color: #aaa;
  background-image: linear-gradient(360deg, #fff 60%, #aaa 60%);
}
/* Scroll Rod */
.scroll-container svg:first-child {
  width: 58%;
  position: absolute;
  z-index: 100;
  top: -70px;
  transform: translateX(-3%);
}
.scroll-container svg:last-child {
  width: 58%;
  position: absolute;
  z-index: 100;
  bottom: -70px;
  transform: translateX(-3%);
}
/* .quill svg {
  height: 15%;
} */
#texture,
#liquid,
#liquor-gobule {
  display: none;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  background-color: #100d07b0 !important;
}
#dots {
  display: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
canvas {
  pointer-events: none;
}
.tooltip-container {
  background-color: #85692e !important;
  font-weight: bold !important;
  border-radius: 0;
}

#frame-scene,
#window-frame {
  display: none;
}
.parallax {
  border-radius: 0;
  border-color: transparent;
}
svg :focus {
  outline: none !important;
}
.move-tip {
  transform: translateX(100px) translateY(-50px);
}
.move-tip-top {
  transform: translateY(-250px);
}
.move-right {
  transform: translateX(400px);
}
.move-tip-left {
  transform: translateX(80px);
}
.move-tip-right {
  transform: translateX(-80px);
}
.move-tip-river {
  transform: translateX(20%) translateX(50%);
}

#sugarcane {
  animation: swing ease-in-out 2.8s infinite alternate;
  transform-origin: bottom right -10px;
}
#greens {
  position: relative;

  animation: swing ease-in-out 2.8s infinite alternate;
  transform-origin: bottom right -10px;
  z-index: 20;
}
#cloud {
  position: relative;
  z-index: 19;
}
/* #greens1 {
  position: absolute;
  left: 0;
  animation: swing ease-in-out 2.8s infinite alternate;
  transform-origin: bottom right -10px;
}
#greens2 {
  animation: swing ease-in-out 2.8s infinite alternate;
  transform-origin: bottom right -10px;
/* } */
#Greens {
  animation: swing ease-in-out 2.8s infinite alternate;
  transform-origin: bottom right -10px;
}

@keyframes swing {
  0% {
    transform: skew(1.4deg) translateX(0px);
  }
  100% {
    transform: skew(-1.4deg) translateX(-16px);
  }
}
#outline-man {
  display: none;
}
#angel,
#angel-wings,
#angel-wings1 {
display: none;
}
#body_1 {
  display: block;
  width: 100vw;
  height: 100vh;
}
#owner,#old-man{
  display: none;
}