body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0c98e !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Setting the animation */
@keyframes manMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.25%);
    transform: rotate(1deg);
  }
}
@keyframes oldmanMovement {
  from {
    transform: translateX(0.5%);
  }
  to {
    transform: translateX(0);
    transform: rotate(1.2deg);
  }
}

@keyframes textShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes textScaleAndShow {
  from {
    opacity: 1;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes plantMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
    transform: translateY(10%);
    transform: rotateY(19deg);
  }
}
@keyframes caneScale {
  from {
    transform: scaleY(1);
    transform-origin: top;
  }
  to {
    transform: scaleY(1.25);
  }
}
@keyframes glide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
    transform: translateY(40%);
    transform: rotateY(19deg);
  }
}
@keyframes subtleMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
    /* transform: translateY(10%); */
    transform: rotateY(6deg);
  }
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#owner {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running manMovement;
}
#old-man {
  transform-origin: 85% 11%;
  animation: 1.5s ease-in-out infinite alternate running oldmanMovement;
}
#sugarcane :hover {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.4s ease;
}
#secondaryText {
  animation: 3s linear infinite alternate textShow;
}
#tertiaryText {
  animation: 7s linear infinite alternate textShow;
}

#haystack-3 {
  transform-origin: top right;
  animation: 1.2s ease-in-out infinite alternate plantMovement;
}
#cloud {
  animation: 1.2s ease-in-out infinite alternate glide;
}

#owner-glass,
#old-man-glass {
  animation: 1.2s ease-in-out infinite alternate 0.5s subtleMovement;
}
#jug {
  /* display: none; */
  animation: 1.2s ease-in-out infinite alternate subtleMovement;
}
#owner-cane {
  animation: 1.2s ease-in-out infinite alternate subtleMovement;
}
#green-terrain {
  animation: 1.2s ease-in-out infinite alternate 1s subtleMovement;
}
#peacock:hover {
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Cool button */
/* bubbles */
/* button::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(
      circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--text-color) 5px,
      var(--text-color) 6px,
      transparent 6px
    );

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
} */

/* @keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
} */

/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 1;
  background-color: rgba(224, 201, 142, 0.317);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px dashed #100d07;
  border-radius: 6px;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.play :first-child :hover {
  box-shadow: 0 0 0 3px #e0c98e;
  border-radius: 12px;
  padding: 0.2em;
}
/* Page  Transition*/
.container {
  position: relative;
}

/* .page {
  position: absolute;
  left: 15px;
  right: 15px;
} */

@keyframes animate-pop {
  0% {
    transform: translateX(-300);
  }

  100% {
    transform: translateX(0);
  }
}
.page-enter {
  opacity: 0;
  transform: scale(1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:opacity 300ms transform 500ms;
  /* animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 1s; */
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
